@font-face {
  font-family: 'mm-text-regular';
  src: url('../fonts/mmtextprowebtt-regular-webfont.woff2') format('woff2'),
  url('../fonts/mmtextprowebtt-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mm-text-semilight';
  src: url('../fonts/mmtextprowebtt-semilight-webfont.woff2') format('woff2'),
  url('../fonts/mmtextprowebtt-semilight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mm-headline';
  src: url('../fonts/mmheadlineprowebtt-regular-webfont.woff2') format('woff2'),
  url('../fonts/mmheadlineprowebtt-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}