@charset "utf-8";
@import "normalize";
@import 'bourbon';
@import 'susy';

$susy : (
  columns: 12, 
  global-box-sizing: border-box,
  debug: (image: show)
);



body {
  background: url("../images/background.png");
  background-size: cover;
  height: 100%;
  box-sizing: border-box;
  // margin: 0 10px;
}

.main-wrapper {
  @include container (80em);
}

.library {
  @include span(8 of 12);
  // border: 1px solid aqua;
}

.player {
  @include span(4 of 12);
  @include omega;
  // border: 1px solid green;
}


header {
  h1 {

  }
}

::-webkit-scrollbar {
    width: 7px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: black;
}