@charset "utf-8";
@import "normalize";
@import 'bourbon';
@import 'grid-settings';
@import 'neat';

body {
  border: 1px solid red;
}

header {
  @include outer-container;
  h1 {
    @include span-columns(4);
  }
}

::-webkit-scrollbar {
    width: 7px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: black;
}