---
title: MediaMrkt
---
%header
  %h1 Elige la musica que quieres que suene
#main
  #songs-container 
    %h2.section-title Elige la canción
    %ul.songs-available
      %li.song-item
        %a{href: "#"}
          .item-card
            %img{src: "../images/album-cover.png", alt: "album cover"}
          %span.song-title
            American Idiot
          %span.song-group
            Green Day  
      %li.song-item
        %a{href: "#"}
          .item-card
            %img{src: "../images/album-cover.png", alt: "album cover"}
          %span.song-title
            American Idiot
          %span.song-group
            Green Day  
      %li.song-item
        %a{href: "#"}
          .item-card
            %img{src: "../images/album-cover.png", alt: "album cover"}
          %span.song-title
            American Idiot
          %span.song-group
            Green Day                
      %li.song-item
        %a{href: "#"}
          .item-card
            %img{src: "../images/album-cover.png", alt: "album cover"}
          %span.song-title
            American Idiot
          %span.song-group
            Green Day  
      %li.song-item
        %a{href: "#"}
          .item-card
            %img{src: "../images/album-cover.png", alt: "album cover"}
          %span.song-title
            American Idiot
          %span.song-group
            Green Day  
      %li.song-item
        %a{href: "#"}
          .item-card
            %img{src: "../images/album-cover.png", alt: "album cover"}
          %span.song-title
            American Idiot
          %span.song-group
            Green Day      
      %li.song-item
        %a{href: "#"}
          .item-card
            %img{src: "../images/album-cover.png", alt: "album cover"}
          %span.song-title
            American Idiot
          %span.song-group
            Green Day  
      %li.song-item
        %a{href: "#"}
          .item-card
            %img{src: "../images/album-cover.png", alt: "album cover"}
          %span.song-title
            American Idiot
          %span.song-group
            Green Day  
      %li.song-item
        %a{href: "#"}
          .item-card
            %img{src: "../images/album-cover.png", alt: "album cover"}
          %span.song-title
            American Idiot
          %span.song-group
            Green Day      
  #playlist
    %h2.section-title Lista de reproducción
    #player 
      This is the player
    %ul#queue 
      %li
        Smells like ten spirit - nirvana
        %span.song-duration
          03:30
      %li
        Smells like ten spirit - nirvana
        %span.song-duration
          03:30
      %li
        Smells like ten spirit - nirvana
        %span.song-duration
          03:30